#bodyform{
    background:url(imagenes/gazanias-blancas.jpg) ;
    background-size: cover;

}
#div1{
    background-color: rgba(255,255,255, o.2);
    backdrop-filter: blur(3px);
    color: white;

}
form{    background-color: rgba(255,255,255, o.5);
         backdrop-filter: blur(5px);
         width: 30%;
         display:flex;
         flex-direction: column;
         border: 2px solid rgba(255, 255, 255, 0.2);
         border-radius: 15px;
         padding: 30px;
         padding-top: 50px;
         justify-content: center;
         /*align-items: center;*/
         gap: 20px;
         position: relative;
         left: 500px;
        }
        h1 , h2 {text-align: center; }

    .uno{ 
         color: white;
         background-color: rgba(255,255,255, o.2);
         border: 1px solid rgb(252, 251, 251);
         border-radius: 5px;
         display: flex;
         justify-content: space-between;
         align-items: baseline;
         gap:5px;
       }
    input, select{
             width: 60%;
             background-color: rgba(255,255,255, o.4);
             backdrop-filter: blur(5px);
             border: 1px solid rgb(252, 251, 251);
        }
    .send{
            display: flex;
            justify-content: center;
        }
    form > svg{
            border-radius: 5px;
            position:absolute;
            top: 5px;
            right: 5px;
          }
    button{
            cursor: pointer;
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 10px;
        }
    button>svg{color: rgb(169, 98, 240);}


    .general{
         display: flex;
         justify-content: space-between;

    }
  
